body {
  padding-top: 20px;
}

h3.text-muted {
   color: white;
   font-size: 4em;
}

h3.top-review {
    margin-left: 3em;
}
h4 {
    padding-top: 20px;
}
div.container{
    padding-top: 10em;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron > .active > a{

}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  font-size: 1em;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.input-group{
    display: none;
}

.search-school{
    margin-right: -1em;
    width: 20em;
}

img.img-circle{
    width: 22px;
    /*padding-bottom: 0.2em;
    padding-right: 0.2em;
    head
    margin-bottom: 0em;
    margin-right: 0.2em;
    margin-left: 5em;
}

.add-more-classes{
    margin-top: 20em;
}

.course-title{

}

div.add-to-my-courses{
    /*position: absolute;
    right: 60em;
    top: 11em;
    */
    margin-left: 40em;
    margin-top: -8em;
}

div.semester-dropdown{
    position: absolute;
    right:10em;
    top: 13em;
}

div.filter-dropdown{
    position: absolute;
    right: 20em;
    top:16em;
}

div.pro-con{
    /*background-color: aqua;*/
    margin-left: 5em;
}

div.pros{
    font-weight: bold;
    /*background-color: yellow;
    border: 1px solid black;*/
    max-width:inherit;
}

div.review{
    /*background-color: green;*/
}

ul.pros-text{
    font-weight: normal;
    text-align: left;
    word-wrap: break-word;
}

div.cons{
    font-weight: 600;
    /*background-color: red;
      border: 1px solid black;*/
    margin-bottom: 100px;
}

div.review-text{
    word-wrap: break-word;
    width: 81.6%;
    margin-left: 2em;
}

div.review-header{
    font-weight:bold;
}

div.replies{
    text-anchor:initial;
}

div.form-group{
    margin-left: 23em;
}

div.add-review{
    margin-left: 23em;
}

div.past-replies{
    margin-left: 23em;
    display:none;
}


h4.past-replies-header, h4.past-answers-header{

    font-weight: bold;
    font-size: 14px;

}

div.reply-button{
    max-height: 10px;
    max-width: 10px;

    
    margin-left: 61.5em;
    padding-bottom:-100px;
}

div.replies-questions{
    margin-left: -23em;
}


@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
/*
.roundrect {
  .up { border-radius: 2rem 2rem 0 0; }
  .down { border-radius: 0 0 2rem 2rem; }
  .count { border-radius: .5rem .5rem; }
}
.chev {
  .up { border-radius: 50% 50% 0 0; }
  .down { border-radius: 0 0 50% 50%; }
  .count { border-radius: 100%/50%; }
}

.circle {
  .up { border-radius: 10rem 10rem 0 0; }
  .down { border-radius: 0 0 10rem 10rem; }
  .count { border-radius: 50%; }
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: $transition;
  cursor: pointer;
  
  &.up {
    background: #4BC35F;
    height: 50%;
    margin-bottom: .5rem/2;
  }
  &.down {
    background: $red;
    height: 50%;
  }
  
  &:hover {
    opacity: 1;    
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: 1rem;
  margin: 2.5rem;
  background: #F6F3E4;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0 0 .5rem #F6F3E4;
  pointer-events: none;
  
  &.upvoted { color: #4BC35F; }
  &.downvoted { color: #C15044; }
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

* { box-sizing: border-box; }
html, body { height: 100%; }
body { 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F3E4;
}
    */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
/* try 50% */
.roundrect .up {
  border-radius: 10px 10px 0 0;
}
.roundrect .down {
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count {
  border-radius: .5rem .5rem;
}

.chev .up {
  border-radius: 50% 50% 0 0;
}
.chev .down {
  border-radius: 0 0 50% 50%;
}
.chev .count {
  border-radius: 100%/50%;
}

.circle .up {
  border-radius: 10rem 10rem 0 0;
}
.circle .down {
  border-radius: 0 0 10rem 10rem;
}
.circle .count {
  border-radius: 50%;
  margin-right: 100px;
}

.vote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans";
  position: absolute;
  right: 30em;
  top: 20em;
  width: 7rem;
  height: 7rem;
  margin: 7rem;
}

.increment {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  text-align: center;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  margin-bottom: 0.25rem;
}
.increment.down {
  background: #C15044;
  height: 50%;
}
.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 2.3rem;
  background: #F6F3E4;
  width: 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}

.bump {
  -webkit-animation: bump 200ms;
          animation: bump 200ms;
}

@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F3E4;
}
