body {
  padding-top: 20px;
}

h3.text-muted {
   color: white;
   font-size: 4em;
}

h3.top-review {
    margin-left: 3em;

}
h4 {
    padding-top: 20px;
}
div.container{
    padding-top: 10em;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron > .active > a{

}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  font-size: 1em;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.input-group{
    display: none;
}

.search-school{
    margin-right: -1em;
    width: 20em;
}

img.img-circle{
    width: 22px;
    /*padding-bottom: 0.2em;
    padding-right: 0.2em;
    */
    margin-bottom: 0em;
    margin-right: 0.2em;
    margin-left: 5em;
}

.add-more-classes{
    margin-top: 20em;
}

.course-title{

}

div.add-to-my-courses{
/*
    position: absolute;
    right: 60em;
    top: 11em;
*/
    margin-left:40em;
    margin-top:-8em;
}

div.semester-dropdown{
    position: absolute;
    right:10em;
    top: 13em;
}

div.filter-dropdown{
    position: absolute;
    right: 20em;
    top:16em;
}

div.pro-con{
    /*background-color: aqua;*/
    margin-left: 5em;
}

div.pros{
    font-weight: bold;
    /*background-color: yellow;
    border: 1px solid black;*/
    max-width:inherit;
}

div.review{
    /*background-color: green;*/
}

ul.pros-text{
    font-weight: normal;
    text-align: left;
    word-wrap: break-word;
}

div.cons{
    font-weight: 600;
    /*background-color: red;
      border: 1px solid black;*/
    margin-bottom: 100px;
}

div.review-text{
    word-wrap: break-word;
    width: 81.6%;
    margin-left: 2em;
}

div.review-header{
    font-weight:bold;
}

div.replies{
    text-anchor:initial;
}

div.form-group{
    margin-left: 23em;
}

div.add-review{
    margin-left: 23em;
}

div.past-replies{
    margin-left: 23em;
    display:none;
}

h4.past-replies-header{
    font-weight: bold;
    font-size: 14px;

}

div.reply-button{
    max-height: 10px;
    max-width: 10px;

    margin-left: 61.5em;
    padding-bottom:-100px;
}
